// body:before {
//     content: '1200';
//     color: red;
//     font-size: 40px;
//     font-weight: bold;
//     position: absolute;
//     bottom: 5px;
//     right: 5px;
//     z-index: 20;
// }
.sidebar {
  width: 4%;
}
