$fontSize: 4vw;

/*body:before {
  content: '320';
  color: red;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 20;
}*/
.sidebar {
  width: 10%;
  font-size: $fontSize;
  h3 {
    font-size: 8vw;
  }
  &.active {
    width: 80%;
  }
}
.sidebar-search {
  input {
    height: 50px;
    font-size: $fontSize;
    font-size: 7vw;
  }
  .input-group-addon {
    font-size: 5vw;
  }
}
.sidebar-filters {
  label{
    min-height: 35px;
    padding-left: 40px;
    font-size: 6vw;
    line-height: 38px;
  }
  input[type=checkbox] {
    height: 30px;
    width: 30px;
    margin-left: -40px;
    margin-bottom: 10px;
  }
}
.radio label, .checkbox label {
  padding-left: 40px;
}
.dfad.right {
  display: none;
}
