$fontSize: 4vw;

/*body:before {
  content: '768';
  color: red;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 20;
}*/
.sidebar {
  width: 10%;
  font-size: $fontSize;
  h3 {
    font-size: 5vw;
  }
  nav {
    .glyphicon {
        font-size: 5vw;
    }
  }
  &.active {
    width: 80%;
  }
}
.sidebar-search {
  input {
    height: 50px;
    font-size: $fontSize;
  }
  .input-group-addon {
    font-size: 3vw;
  }
}
.sidebar-filters {
  input[type=checkbox] {
    height: 30px;
    width: 30px;
    margin-left: -40px;
  }
}
.radio label, .checkbox label {
  padding-left: 40px;
}
