.dfad {
  z-index: 20;
  position: absolute;
  width: 728px;
  text-align: center;
  left: 50%;
  margin-left: -364px;
  button {
    position: absolute;
    right: -30px;
    top: 3px;
  }
  &.right {
    width: 120px;
    text-align: right;
    right: 0;
    left: auto;
    top: 0;
    a {
      margin-top: -15px;
      text-align: center;
      display: block;
    }
  }
}
