#map {
  width:100%;
  height:100%;
  background: #000 !important;
  position: absolute !important;
  display: inline-block;
  .loading-overlay {
    background: rgba(0, 0, 0, 0.5);
    background-image: url('../images/loading-map.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
span.loading {
  display: block;
  text-indent: -9999px;
  background: url(../images/loading-map.gif) no-repeat;
  background-position: center;
  height: 100%;
}
.coords {
  display: none;
  color: red;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0,0,0,.75);
  padding: 5px;
  border-radius: 10px;
  z-index: 20;
}
#poiTipContent {
  font-weight: bold !important;
}
