form {
  button {
    &.disabled {
      background-image: url('../images/loading-form-submit.gif');
      text-indent: -9999px;
      width: 60px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
#form-messages {
  float: left;
  line-height: 34px;
  font-weight: bold;
  &.success {
    color: #5cb85c;
  }
  &.error {
    color: #d9534f;
    white-space: normal;
  }
}
