.sidebar {
  background: rgba(0, 0, 0, .90);
  width: 2%;
  height: 100%;
  padding: 10px 0;
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  color: white;
  float: left;
  display: inline-block;
  transition: width .1s ease-in;
  .sidebar-filters {
    &:after {
      display: block;
      content: ' ';
      clear: both;
    }
    section {
      float: left;
      width: 45%;
      margin-right: 10px;
      &.wide {
        width: 100%;
        h4 {
          margin-bottom: -7px;
        }
        .otherList {
          display: flex;
          > div:first-child {
            margin-right: 20px;
          }
        }
      }
      h4 {
        color: gray;
        &.mobs,
        &.holdings {
          cursor: pointer;
        }
      }
    }
    .autoshow {
      text-align: right;
      width: 100%;
      text-transform: lowercase;
      font-size: 12px;
      padding-right: 4px;
      input {
        margin-right: 4px;
      }
    }
  }
  &.active {
    cursor: auto;
    left: 0;
    width: 320px;
    .sidebar-search,
    .sidebar-filters,
    .sidebar-details,
    .beta {
      opacity: 1;
      transition: opacity .3s ease-in;
    }
    .sidebar-close {
      display: block;
    }
    .sidebar-open {
      display: none;
    }
    .sidebar-close {
      text-align: right;
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
    .searching {
      &:before {
        content: ' ';
        display: block;
        width: 16px;
        height: 16px;
        background: url(../images/loading-results.gif) no-repeat center;
      }
    }
  }
  .beta {
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0;
  }
  .sidebar-search,
  .sidebar-filters,
  .sidebar-details {
    width: 90%;
    margin: 0 auto;
    opacity: 0;
  }
  .sidebar-close {
    display: none;
  }
  .sidebar-open {
    display: block;
  }
  nav {
    .glyphicon {
      color: white;
      font-size: 1.5vw;
      text-align: center;
    }
  }
  .sidebar-details {
    clear: both;
    button {
      margin: 15px 0 30px;
      color: black;
      display: none;
      span {
        display: inline;
      }
    }
    a.searchable {
      color: inherit;
      cursor: pointer;
      background: transparent;
      display: inline;
      padding: 3px 2px;
      border-radius: 5px;
      &:hover {
        background: grey;
        color: black;
        text-decoration: none;
      }
    }
  }
  .sidebar-details-content {
    overflow: hidden;
    margin-bottom: 30px;
    h3 {
      text-transform: capitalize;
      &.levelup {
        background: url(../images/levelup.png) no-repeat 0 3px;
        text-indent: 20px;
      }
      span.searched {
        display: inline;
      }
    }
    span {
      display: block;
      text-transform: capitalize;
      &.searched {
        color: black;
        display: inline-block;
        padding: 2px 5px;
        margin: 0;
        border-radius: 5px;
        font-weight: bold;
        background: yellow;
      }
      b {
        font-weight: normal;
        color: grey;
        display: block;
        margin-top: 10px;
      }
    }
    small {
      margin-top: 0;
    }
  }
  small {
    display: block;
    margin: 10px 0;
    span {
      display: inline-block;
    }
  }
}
