body {
  background: #ccc;
  width: 70%;
  margin: 0 auto;
}
table {
  width: 100%;
  border: 1px solid black;
  th {
    background: black;
    padding: 2px 3px;
    color: white;
    font-weight: bold;
  }
}