$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #c4c4c4;
  overflow: hidden;
  bottom: 0;
  top: 0;
  position: relative;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import 'map';
@import 'sidebar';
@import 'filters';
@import 'search';
@import 'modal';
@import 'ads';

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1200px) {
  @import '1200';
}
@media screen and (max-width: 768px) {
  @import '768';
}
@media screen and (max-width: 320px) {
  @import '320';
}
